@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Machine>;

<h1>Machines</h1>

@if(@Model.Count == 0)
{
  <p>No machines logged. Please add an engineer.</p>
}
<div class="items">
  <table class="table table-bordered table-striped">
    @foreach(Machine machine in Model)
    {
      <tr>
        <td>
          @Html.ActionLink($"{machine.MachineName}", "Details", new{ id = machine.MachineId})
        </td>
      </tr>
    }
  </table>
</div>
<br>
<h4 class="h4">@Html.ActionLink("Add and Machine", "Create")</h4>
<h4 class="h4">@Html.ActionLink("Return Home", "Index", "Home")</h4>